.breadcrumb
  background-color: lighten($color-text, 35%)
  margin: 2rem auto 3rem

.breadcrumb-item
  a
    transition: all $transition-default
    color: $color-text
  &.active a
    color: $white
    font-weight: 600
  a.disabled
    pointer-events: none
    cursor: not-allowed
    opacity: .65
  &:hover a
    color: lighten($color-text, 12%)
  &.active:hover a
    color: $white

