//          - Component COOKIES - Studio HB 2015

///////////////////////
//  COOKIES 
///////////////////////

 
.cookies_alert
  position: fixed
  bottom: 100%
  left: 0
  display: block
  width: 100%
  background: #323232
  color: #9F9F9F
  padding: 15px
  text-align: left
  font-size: 1.3rem
  z-index: 60
  border-radius: 0
  margin-bottom: 0
  animation-duration: 3s
  animation-name: slidein
  animation-delay: 3s
  animation-fill-mode: forwards

  p 
    text-align: justify
    font-weight: normal
  a 
    text-decoration: underline
    color: #9F9F9F
  .btn 
    text-decoration: none
    color: #fff 
    border-radius: 2px
    margin-right: 5px
    font-size: 1.3rem
  .btn-secondary
    color: #333
    opacity: 0.3

 

@keyframes slidein 
  from 
    bottom: -100%
  
  to 
    bottom: 0
   
