$wizard-space: 10rem

.wizard-container
  padding: 2rem 0
  margin: 3rem 0 5em

.wizard-progress
  padding: 0
  margin: 0 

.wizard-step
  display: inline-block
  margin-right: $wizard-space
  z-index: 10
  position: relative
  &:last-of-type
    margin-right: 0
  &:not(:first-of-type):before
    content: ""
    display: block
    background-color: $gray-dark
    height: 2px
    width: $wizard-space
    position: absolute
    top: 19px
    left: - $wizard-space
    z-index: -1
  &.disabled:before
    background-color: #ccc
    // opacity: .65
  // &:first-of-type:before
  //   display: none
  &.disabled
    a
      @extend .btn-secondary
  a 
    @extend .btn
    box-shadow: 0 0 0

    @extend .btn-inverse
    

.wizard-step.active
  a 
    &::before
      position: absolute
      content: ""
      width: 0px
      height: 0px
      border-top: 15px solid transparent
      border-right: 15px solid transparent
      border-bottom: 15px solid white
      border-left: 15px solid transparent
      top: 22px
      right: 5px
    &::after
      content: 'ÉTAPE'
      font-size: 1rem
      font-weight: 600
      color: $color-text
      background-color: white
      padding: 1rem
      position: absolute
      display: block
      top: 45px
      left: -9px
