rerun.txt
*.swp
*.swo
*.DS_Store
.bundle
db/*.sqlite3
log/*.log
.sass-cache/
tmp/*
office_immo/*
config/database.yml
config/database_production.yml
config/database_staging.yml
config/deploy_secrets.yml
public/tmp/*
public/uploads
public/system
dump.rdb
.byebug_history
routes.txt
.idea
log/services/*