//- Front Variables 

///////////////////////
// TEINTES 
///////////////////////

$white:  #fff !default

$gray-dark:   #454545 !default
$color-text: #454545 !default

$brand-inverse: $gray-dark !default

$bg:          #f6f1eb
$body-bg:       $bg !default

$btn-inverse-color:   $white !default
$btn-inverse-bg:      $brand-inverse !default
$btn-inverse-border:  $btn-inverse-bg !default

// Teintes axes 
//////////////////////

$interculturality-color:  #cc3333
$departure_preparation-color: #99cc66
$return_preparation-color: #c0a476
$mobility_system-color: #663399
$skill_promotion-color: #ffd966
$conflict_management-color: #996633
$group_facilitation-color: #00cccc
$project_methodology-color: #f1875d

///////////////////////
// TYPO 
///////////////////////

$font-family-sans-serif : 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif

///////////////////////
// SIZES
///////////////////////
$header-height: 75px
$footer-height: 120px
$explanation-height: 22px


////////////////////
// ANIMATIONS
////////////////////

// transition
$transition-duration-default: 350ms
$transition-timing-default: ease
$transition-default: $transition-duration-default $transition-timing-default

////////////////////
// CARDS 
////////////////////

$card-border-radius: 0.8rem