= render layout: 'layout_form' do
  = form_for @seo, as: :seo, url: admin_seo_path(@seo), html: {class: "form-horizontal"} do |f| 
    = render partial: "form", locals: {f: f, button_name: "Enregistrer les modifications", button_name_2: "Enregistrer et continuer l'édition"}

