//       - Layout Base - Studio HB 2015

///////////////////////
// LAYOUT 
///////////////////////

body, html
  width: 100%
html
  font-size: 62.5% // on passe la taille de base à 10px pour les unités en rem : 10px = 1rem (1,4rem = 14px etc)

body
  font-size: 1.5rem

  //// pb scintillement font-weight
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale



///////////////////////
// TITLES 
///////////////////////




///////////////////////
//  LINK
///////////////////////

a:hover, a:focus
  text-decoration: none
  outline: none
