.explanation 
  color: $white
  
.explanation_main
  background-color: $brand-inverse
  overflow-y: hidden
  max-height: 250px
  transition: max-height 1.5s ease-in-out
  .explanation_content
    margin-bottom: 4em
  .col 
    text-align: center

.explanation_main--hidden
  max-height: 0

.explanation_header
  text-align: center
  text-transform: uppercase
  font-weight: 600 
  font-size: 1.6em
  padding: 2.5em 0 2.5em

.explanation_edge
  background-color: $brand-inverse
  height: 10px

.explanation_strip
  width: 200px
  margin: 0 auto
  font-size: 1.2rem
  cursor: pointer

.explanation_label
  text-align: center
  background-color: $brand-inverse
  text-transform: uppercase
  border-radius: 0 0 50px 50px
  margin-top: -5px
  padding-bottom: 7px