$explanation-bg-color: $brand-inverse
// $explanation-bg-color: lighten($brand-inverse, 10%)

.explanation 
  color: $white
  
.explanation_main
  background-color: $explanation-bg-color
  overflow-y: hidden
  max-height: 250px
  transition: max-height 1s ease-in-out
  .explanation_content
    margin-bottom: 4em
  .col 
    text-align: center


.explanation_header
  text-align: center
  text-transform: uppercase
  font-weight: 600 
  font-size: 1.6em
  padding: 2.5em 0 2.5em

.explanation_edge
  background-color: $explanation-bg-color
  height: 10px

.explanation_strip
  width: 200px
  margin: 0 auto
  font-size: 1.2rem
  cursor: pointer
  text-align: center
  background-color: $explanation-bg-color
  text-transform: uppercase
  border-radius: 0 0 50px 50px
  margin-top: -5px
  padding-bottom: 7px
  height: $explanation-height

.explanation_label
  &:after
    font-family: FontAwesome
    content: "\f106"

.explanation--hidden 
  .explanation_main
    max-height: 0

  .explanation_label:after
    font-family: $font-family-sans-serif
    content: "Comment ça marche ?"
