//          - Layout FOOTER - Studio HB 2016

///////////////////////
// SIGNATURE SHB 
///////////////////////
.footer-signature
  float: right
  display: inline-block
  vertical-align: middle
.signature-shb 
  cursor: pointer
  display: block
  padding-left: 4px
  color: #b9b9b9

  &::after
    content: ''
    width: 26px 
    height: 20px 
    background-image: image-url('footer-signature.svg') 
    background-repeat: no-repeat
    background-position: 0px 0px
    display: inline-block
    transition: all .25s ease
    position: relative
    z-index: 2
    transition: none


  &:hover
    color: #b9b9b9 !important
    &::after 
      background-position: -26px 0px


    .wrapper-signature  
      width: 150px
      padding-right: 40px

  .wrapper-signature 
    opacity: 1
    position: relative
    display: inline-block
    white-space: nowrap
    padding-right: 0px
    transition: width $transition-default, padding-right $transition-default
    z-index: 1
    overflow: hidden
    text-align: right
    width: 0px



