= render layout: 'layout_form' do 
  = form_for @basic_page, as: :basic_page, url: admin_basic_pages_path, html: {class: "form-horizontal"} do |f| 
    = render partial: "form", locals: {f: f, button_name: "Créer la page", button_name_2: "Créer et continuer l'édition"}

