- content_for :current_navigation_sub_section, :part_2

= render layout: 'layout_form' do
  = form_for @tool, as: :tool, url: part_2_admin_tool_path(@tool), html: {class: "form-horizontal"}, method: :put do |f| 
    = render partial: "part_2_form", locals: {f: f, button_name: "Enregistrer les modifications", button_name_2: "Enregistrer et retourner à la liste"}

